.dash-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 60%;
}

.dash-title {
    font-size: 1.6rem;
    color:var(--lightGrayHover);
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0px 0px 16px 1px rgba(129,129,129,0.4);
    margin-bottom: 16px;
    border-bottom: 2px solid var(--lightGray);
}

.dash-head {
    padding: 16px;
    background-color: var(--white);
    border-radius: 16px;
}

.dash-body {
    height: fit-content;
    -webkit-box-shadow: 0px 0px 16px 1px rgba(129,129,129,0.4);
    -moz-box-shadow: 0px 0px 16px 1px rgba(129,129,129,0.4);
    box-shadow: 0px 0px 16px 1px rgba(129,129,129,0.4);  
}

.dash-city, .dash-body {
    padding: 16px;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: var(--white);
    width: 100%;
}

.city {
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
}

.filter-panel {
    display: flex;
    justify-content: center;
}

.filter-panel button:first-of-type {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.filter-panel button:last-of-type {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.panel-btn {
    background-color: var(--white);
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--lightGray);
    padding: 12px;
    transition: background-color .5s;
    transition: color .5s;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.panel-btn:hover {
    background-color: var(--whiteHover);
    color: var(--lightGrayHover);
    border: none;
    outline: none;
    cursor: pointer;
}

@media only screen and (min-width: 1220px){
    .dash-container {
        width: 40%;
    }
    .dash-title {
        font-size: 2.4rem;
    }
    .panel-btn {
        padding: 16px;
    }
}

@media only screen and (max-width: 768px){
    .dash-container {
        width: 90%;
    }
};