
.forecast-body {
    gap: 16px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.forecast-carousel {
    position: relative;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

.forecast-carousel-inner {
    position: relative;
    overflow-x: hidden;
}

.forecast-carousel-moving {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;
    padding: 16px 0;
    transform: translateX(8px);
}

.for-day-day{
    text-align: center;
    border-radius: 16px;
    -webkit-box-shadow: 0px 0px 16px 1px rgba(129,129,129,0.2);
    -moz-box-shadow: 0px 0px 16px 1px rgba(129,129,129,0.2);
    box-shadow: 0px 0px 16px 1px rgba(129,129,129,0.2);  
}