.card__container {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: var(--primary);
    border-radius: 8px;
    gap: 8px;
}

.card--left,.card--center, .card--right {
    align-content: center;
}

.card--left {
    display: flex;
    justify-content: center;
}

.card--left svg {
    width: 32px;
    height: 32px;
    color: rgb(39, 133, 255);
    margin: auto;
}

.card--center h3 {
    margin: 0 0 8px 0;
    color: var(--lightGrayHover);
    font-size: 1rem;
    font-weight: 500;
}

.card--data {
    font-size: 1.4rem;
    color: black;
}

.card--right {
    font-size: 1.2rem;
    color: black;
    text-align: center;
}