input{
    border: none;
    background-color: var(--lightGray);
    color: var(--secondary);
    transition: all .2 ease-in-out;
    padding: 8px 16px;
    border-radius: 8px;
    height: fit-content;
    font-size: 1.2rem;
    font-weight: 400;
    transition: all .2s ease-in-out;
}

input:hover, input:focus, input:active {
    border: none;
    background-color: var(--lightGrayHover);
    outline: none;
}

.input__container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input--label{
    color: var(--secondary);
    opacity: .6;
}

textarea {
    border-radius: var(--borderRadius);
    background-color: var(--lightGray);
    padding: 16px;
    max-height: 160px;
    overflow: auto;
    border: none;
    resize: none;
    font-size: 1.2rem;
    font-family: "Candara", "HelveticaNeue-CondensedBold", "trebuchet ms", sans-serif;
}

textarea:hover, textarea:focus, textarea:active {
    background-color: var(--lightGrayHover);
    border: none;
    outline: none;
}