.legend {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    font-size: 12px;
    z-index: 1000;
  }
  .legend h3 {
    margin: 0 0 10px;
    font-size: 14px;
  }
  .legend div {
    display: flex;
    align-items: center;
  }
  .legend span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 3px;
  }
  