.main-info {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.info-left-top {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
.info-left-bottom{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.info-center {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    width: 33.333%;
    margin: auto;
}

.info-center-bottom {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
}

.info-right-top {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.info-right-bottom {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

@media only screen and (min-width: 768px){
    .dash-container {
        width: 50%;
    }

    .dash-title {
        font-size: 2.4rem;
    }

    .main-info {
        grid-template-columns: repeat(3,1fr);
    }
    
    .info-left-top {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
    .info-left-bottom{
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    
    .info-center {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        width: 100%;
    }
    
    .info-center-bottom {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }
    
    .info-right-top {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }
    
    .info-right-bottom {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
    }
};

@media only screen and (max-width: 300px){
    .main-info {
        display: flex;
        flex-direction: column;
    }
}
